<launch>
    <arg name="cute_robot_1" default="true"/>
    <arg name="cute_robot_2" default="true"/>
 
 
   <group if="$(arg cute_robot_1)" ns="cute_robot_1">
      <node pkg="cute_planning" type="moveit_cute1_track_demo.py" name="moveit_cute1_track_demo" output="screen"/>
   </group>
   <group if="$(arg cute_robot_2)" ns="cute_robot_2">
      <node pkg="cute_planning" type="moveit_cute2_track_demo.py" name="moveit_cute2_track_demo" output="screen"/>
   </group>
</launch>